
body {
   
    font-style: "Montserrat-Black";
    text-align: center;
}

h1, h2, h3 {
    font-family: "Montserrat-Bold";
}

p {
    color: #8f8f8f;
}

/*Heading Section*/

.Big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem !important;
    line-height: 1.5 !important;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/*Containers*/

.container-fluid {
    padding: 3% 15% !important;
}

/*Section*/
.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/*Navigation Bar*/

.navbar-dark .navbar-brand {
    font-family: "Ubuntu";
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size:1.2rem;
    font-family: "Montserrat-Light";
}

/*Title*/

#title.container-fluid {
    padding: 3% 15%;
    text-align: left; 
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-img {
    width: 300px;
    transform: rotate(25deg);
    position: absolute;
    right:20%;
}

/*Features*/

#features{
    position: relative;
    
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 5%;
}

.icon {
    color: #FC4F4F;
    margin-bottom: 1rem;
}

.icon:hover {
    color:#ff4c68;
}

/*Testimonials*/

#testimonials {
    background-color: #ef8172;
}

.testimonials-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonials-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-image {
    width: 15%;
    margin: 20px 20px 20px 50px;
}

/*Press*/

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 20px 50px;
}

/*Pricing*/

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: bold;
}

.pricing-column {
    padding: 3% 2%;
}

/*Footer*/

.social-icon {
    margin: 20px 10px;
}

@media (max-width: 1028px) {
    #title{
        text-align: center;
    }
    .title-img {
        position: static;
        transform: rotate(0);
    }
}